/*style Category Names*/

#aromatic{
text-align:center;
color: #B8860B;
font-family:Ink Free;
font-weight: bold;
font-size: 50px;
}

#seasonal{
text-align:center;
color: #8B0000;
font-family:Ink Free;
font-weight: bold;
font-size: 50px;
}

#decorative{
text-align:center;
color: #228B22;
font-family:Ink Free;
font-weight: bold;
font-size: 50px;
}
#gifts{
text-align:center;
color: #00BFFF;
font-family:Ink Free;
font-weight: bold;
font-size: 50px;
}
#customized{
text-align:center;
color: #9932CC;
font-family:Ink Free;
font-weight: bold;
font-size: 50px;

}

/*Customizing Style of Product categ. Bootstrap Navbar*/

.navbar-nav{
  float: center;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  text-decoration: bold;
  align:right;
  max-width:95%;
  margin: 0 auto;
}
.navbar-brand{
 padding right:50px;
 }

/*Customizing Style of links and items in Product categ. Bootstrap Navbar*/

.link {
 color:black;
 font-family:Ink Free;
 font-weight: bold;
 font-size:20px;
 }

.navbar-nav > li{
  margin-left:40px;
  margin-right:40px;
 
}

/*Style Product images cards and Zoom in/out effect when mouse is over*/

.card-img-top {

    object-fit: cover;
    padding: 0px;
    background-color: white;
    transition: transform .4s; /* Animation speed */
    margin: 0 auto;
    display: table-cell; 
    width: 100%;
    height: 20vw;
    max-width: 100%;
    display: block;
    	
 
    }
    
.card-img-top:hover {
  transform: scale(1.1); /* Zoom */
}

/*Product details hidden, appear when mouse is over*/

.list-group {
  visibility: hidden;
}

/*Style of Flexbox Form*/

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
 
}

/*Style labels in form*/

.flex-outer > li > label,
.flex-outer li p {
 flex: 1 1 120px;
 max-width: 200px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 1 120px;
}

/*Style submit button in form*/

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: black;
  color: #f2f2f2;
  font-family:Ink Free;
  font-weight: bold;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-outer{
background-color: #FFE4E1;
border-radius: 20px;
border-color:#BC8F8F;
border-style: solid;
border-width: 20px;
text-align:center;
}

/*style fonts in form*/

#cust{
text-align:center;
color: black;
font-family:Ink Free;
font-size:20px;
font-weight: normal;}

.pform{
font-size:20px;
font-weight: bold;
}

